{
    "extends": "@react-native-community",
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "parser": "flow",
                "tabWidth": 4,
                "bracketSameLine": false,
                "singleAttributePerLine": true
            },
            {
                "usePrettierrc": false
            }
        ]
    }
}
